<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://is.gd/tzbm9p</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>org.tihmstar.h3lix</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>

				
 				<string>
	
🔥 (Electra ios11.3x)🔥اصدار : 1.0.2🔥 ١-تفعيل نمط الطيران ‏٢-حذف الايكلود والرقم السري و تعطيل سيري ‏٣-حذف ملفات التعريف البروفايلات وملف تحديث 11.4 تجدونه في إعدادات عام ملف تخزين ‏٤-عمل ريبوت للجهاز ‏٥-تفعيل الجلبريك والجهاز على نمط الطيران ✅(رفع:أحمد المقدم)✅ 👇تابعوني عبر تويتر👇 ✅@ahmadmokaddam ✅
				</string>
				
            </dict>
        </dict>
    </array>
</dict>
</plist>